aiohttp==3.10.5
botbuilder-core==4.16.2
botbuilder-schema==4.16.2
botframework-connector==4.16.2
botbuilder-ai==4.16.2
botbuilder-azure==4.16.2
openai==1.61.1
python-dotenv==1.0.1
azure-cosmos==4.7.0
